.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding: 2rem;
}

.home .title {
  font-size: 4rem;
  text-align: center;
}

.home .table-of-contents {
  padding: 0.75rem 1.5rem;
  margin-bottom: 4rem;
  background-color: var(--color-100);
  border: 3px solid var(--color-400);
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.home .box-wrapper {
  margin: 1rem 0;
  width: 100%;
}

.home .table-of-contents li {
  margin-top: 0.75rem;
  cursor: pointer;
}

.home app-box {
  margin: 1rem 0;
}

.home pre {
  background-color: var(--color-400);
  border: 1px solid var(--color-100);
  border-radius: 1rem;
  font-style: italic;
}