@import './variables.css';
@import './icons.css';
@import './figures/index.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  letter-spacing: 0.8px;
  color: var(--color-500);
  background-color: var(--color-200);
}

hr {
  margin: 2rem;
}