.figure-2 {
  display: flex;
  flex-direction: column;
}

.figure-2 .block {
  display: flex;
  align-items: center;
}

.figure-2 .buttons {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
}


.figure-2 .buttons .wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 0.75rem;
}

.figure-2 .buttons button {
  background-color: var(--color-100);
  border-radius: 0.5rem;

  margin-left: 1rem;
  padding: 0.5rem 1rem;

  font-size: 1.25rem;
  cursor: pointer;
}

.figure-2 .buttons button:first-child {
  margin-left: 0;
}

.figure-2 .text {
  margin-left: 4rem;
}

.figure-2 .grid {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
}

.figure-2 .item {
  border: 1px solid var(--color-green);
}

.figure-2 .item.cell,
.figure-2 .item.area {
  background-color: var(--color-green);
  transition: all .5s ease-in-out;
}

.figure-2 .item.cell:hover,
.figure-2 .item.area:hover {
  transform: scale(1.2);
}

.figure-2 .item.track {
  border-left: 10px solid var(--color-green);
  border-right: 10px solid var(--color-green);
  transition: all .3s ease-in-out;
}

.figure-2 .item.line {
  border-top: 10px solid var(--color-green);  
  transition: all .3s ease-in-out;
}